process{
    executor = 'sge'
    cpus =  2
    penv = 'threaded'
    clusterOptions = '-S /bin/bash'
}

params{
    sampleList = '/nfs/external/az-ipf-garcia/lumpyCNV/WGS_BAM_File/Male_bam_file_path_noDUP.listaa'
    reference = "/nfs/seqscratch09/AZ-IPF/reference/hs37d5.fa"
    samtools = "/nfs/goldstein/software/samtools-1.9-x86_64/bin/samtools"
    lumpy = "/nfs/goldstein/software/centos7/lumpy-sv-x86_64"
    lumpyConfig = "/nfs/external/az-ipf-garcia/lumpyCNV/lumpyexpress.config"
    GATK = "/nfs/goldstein/software/gatk-4.1.8.1/gatk"
}
